body {
	position: relative;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	line-height: normal;
	color: #39465c;
}

h1 {
	margin-top: 0;
	font-family: 'Lobster', cursive, sans-serif;
	letter-spacing: 0.15em;
}

figure {
	margin: 0;
}

p {
	margin: 0 0 20px 0;
}

ol {
	margin: 0 0 10px 0;
	padding-left: 20px;
}

li {
	margin-bottom: 20px;
}

img {
	display: block;
	margin: 0 auto;
    border: 5px solid #ffffff;
	border-radius: 50%;
}

.container {
	position: relative;
	box-sizing: border-box;
	display: block;
	max-width: 1024px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

.page {
	padding-top: 50px;
}

.item {
	margin-bottom: 50px;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 5px 15px 0 rgba(0,0,0,0.1);
}

.item-head {
	padding: 30px;
	background-color: #ffa050;
}

.item-head h1 {
    margin-bottom: 40px;
    padding-bottom: 20px;
    text-align: center;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}

.item-body {
	padding: 30px;
}